@background: #FFFFFF;

.main {
  height: 100vh;
}

.header {
  background-color: @background;
  border-bottom: 1px solid #DEDEDE;
  padding: 0;
}

.left-aside {
  background-color: @background;
  border-right: 1px solid #DEDEDE;
  overflow-x: auto;
  overflow-y: auto;
}

.right-aside {
  background-color: @background;
  border-left: 1px solid #DEDEDE;
}

.footer {
  background-color: @background;
  height: 30px;
  border-top: 1px solid #DEDEDE;
}